@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ppsocw');
  src:  url('/fonts/icomoon.eot?ppsocw#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ppsocw') format('truetype'),
    url('/fonts/icomoon.woff?ppsocw') format('woff'),
    url('/fonts/icomoon.svg?ppsocw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-add_appt:before {
  content: "\e901";
}
.icon-add_contact:before {
  content: "\e902";
}
.icon-add_drip:before {
  content: "\e903";
}
.icon-add_reminder:before {
  content: "\e904";
}
.icon-arrow_down:before {
  content: "\e905";
}
.icon-arrow_left:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e907";
}
.icon-arrow_up:before {
  content: "\e908";
}
.icon-attach:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-closed:before {
  content: "\e90e";
}
.icon-communication:before {
  content: "\e90f";
}
.icon-drip:before {
  content: "\e910";
}
.icon-drop-down:before {
  content: "\e911";
}
.icon-drop_up:before {
  content: "\e912";
}
.icon-favorite:before {
  content: "\e913";
}
.icon-filter:before {
  content: "\e914";
}
.icon-for_sale:before {
  content: "\e915";
}
.icon-html:before {
  content: "\e916";
}
.icon-inbox:before {
  content: "\e917";
}
.icon-inquiry:before {
  content: "\e918";
}
.icon-chat_text:before {
  content: "\e919";
}
.icon-email_text:before {
  content: "\e91a";
}
.icon-launchpad:before {
  content: "\e91b";
}
.icon-leads:before {
  content: "\e91c";
}
.icon-location:before {
  content: "\e91d";
}
.icon-more:before {
  content: "\e91e";
}
.icon-more_2:before {
  content: "\e91f";
}
.icon-note:before {
  content: "\e920";
}
.icon-open:before {
  content: "\e921";
}
.icon-pencil:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-plan:before {
  content: "\e924";
}
.icon-progress:before {
  content: "\e925";
}
.icon-rate:before {
  content: "\e926";
}
.icon-reminder:before {
  content: "\e927";
}
.icon-reset:before {
  content: "\e928";
}
.icon-saved_filter:before {
  content: "\e929";
}
.icon-search:before {
  content: "\e92a";
}
.icon-send:before {
  content: "\e92b";
}
.icon-sent:before {
  content: "\e92c";
}
.icon-sms:before {
  content: "\e92d";
}
.icon-star_filled:before {
  content: "\e92e";
}
.icon-star_empty:before {
  content: "\e92f";
}
.icon-stats:before {
  content: "\e930";
}
.icon-tag_label:before {
  content: "\e931";
}
.icon-task:before {
  content: "\e932";
}
.icon-time:before {
  content: "\e933";
}
.icon-trash:before {
  content: "\e934";
}
.icon-unworked:before {
  content: "\e935";
}
.icon-view:before {
  content: "\e936";
}
.icon-request_appt:before {
  content: "\e937";
}
.icon-search2:before {
  content: "\e938";
}
.icon-cursor:before {
  content: "\e939";
}
.icon-envelope_open:before {
  content: "\e93a";
}
.icon-map:before {
  content: "\e93b";
}
.icon-folder_plus:before {
  content: "\e93c";
}
.icon-delete:before {
  content: "\e93d";
}
.icon-reply:before {
  content: "\e93e";
}
.icon-stack_minus:before {
  content: "\e93f";
}
.icon-stack_plus:before {
  content: "\e940";
}
.icon-search_controls:before {
  content: "\e941";
}
.icon-email_list:before {
  content: "\e942";
}
.icon-left:before {
  content: "\e943";
}
.icon-right:before {
  content: "\e944";
}
.icon-indent_right:before {
  content: "\e945";
}
.icon-indent_left:before {
  content: "\e946";
}
.icon-center:before {
  content: "\e947";
}
.icon-numbers:before {
  content: "\e948";
}
.icon-italic:before {
  content: "\e949";
}
.icon-underline:before {
  content: "\e94a";
}
.icon-strike_through:before {
  content: "\e94b";
}
.icon-bold:before {
  content: "\e94c";
}
.icon-link:before {
  content: "\e94d";
}
.icon-side_menu_1:before {
  content: "\e94e";
}
.icon-side_menu_2:before {
  content: "\e94f";
}
.icon-quick_action:before {
  content: "\e950";
}
.icon-overflow_menu:before {
  content: "\e951";
}
.icon-drag_menu:before {
  content: "\e952";
}
.icon-redo:before {
  content: "\e953";
}
.icon-undo:before {
  content: "\e954";
}
.icon-compress:before {
  content: "\e955";
}
.icon-expand:before {
  content: "\e956";
}
.icon-next:before {
  content: "\e957";
}
.icon-back:before {
  content: "\e958";
}
.icon-sort:before {
  content: "\e959";
}
.icon-multiple_select:before {
  content: "\e95a";
}
.icon-logout:before {
  content: "\e95b";
}
.icon-last_login:before {
  content: "\e95c";
}
.icon-import:before {
  content: "\e95d";
}
.icon-forward:before {
  content: "\e95e";
}
.icon-a_z:before {
  content: "\e95f";
}
.icon-z_a:before {
  content: "\e960";
}
.icon-registered:before {
  content: "\e961";
}
.icon-agents:before {
  content: "\e962";
}
.icon-emoticons:before {
  content: "\e963";
}
.icon-transaction:before {
  content: "\e964";
}
.icon-fish_pond:before {
  content: "\e965";
}
.icon-pages:before {
  content: "\e966";
}
.icon-activity_2:before {
  content: "\e967";
}
.icon-add_lead:before {
  content: "\e968";
}
.icon-active:before {
  content: "\e969";
}
.icon-remove:before {
  content: "\e96a";
}
.icon-settings:before {
  content: "\e96b";
}
.icon-history:before {
  content: "\e96c";
}
.icon-help:before {
  content: "\e96d";
}
.icon-snooze:before {
  content: "\e96e";
}
.icon-sites:before {
  content: "\e96f";
}
.icon-mobile:before {
  content: "\e970";
}
.icon-social:before {
  content: "\e971";
}
.icon-print:before {
  content: "\e972";
}
.icon-multi_plan:before {
  content: "\e973";
}
.icon-plan_templates:before {
  content: "\e974";
}
.icon-email_templates:before {
  content: "\e975";
}
.icon-copy:before {
  content: "\e976";
}
.icon-summary:before {
  content: "\e977";
}
.icon-templates:before {
  content: "\e978";
}
.icon-notebook:before {
  content: "\e979";
}
.icon-facebook:before {
  content: "\e97a";
}
.icon-twitter:before {
  content: "\e97b";
}
.icon-goggle:before {
  content: "\e97c";
}
.icon-quotes:before {
  content: "\e97d";
}
.icon-hot_lead:before {
  content: "\e97e";
}
.icon-last_touch:before {
  content: "\e97f";
}
.icon-lead_routing:before {
  content: "\e980";
}
.icon-user_rating:before {
  content: "\e981";
}
.icon-lock:before {
  content: "\e982";
}
.icon-pipeline:before {
  content: "\e983";
}
.icon-share:before {
  content: "\e984";
}
.icon-sticky:before {
  content: "\e985";
}
.icon-admin:before {
  content: "\e986";
}
.icon-offices:before {
  content: "\e987";
}
.icon-upload_image:before {
  content: "\e988";
}
.icon-blog:before {
  content: "\e989";
}
.icon-feedback:before {
  content: "\e98a";
}
.icon-forward_bubble:before {
  content: "\e98b";
}
.icon-favorites:before {
  content: "\e98c";
}
.icon-saved_searches:before {
  content: "\e98d";
}
.icon-themes:before {
  content: "\e98e";
}
.icon-cinc_logo_1:before {
  content: "\e98f";
}
.icon-cinc_logo_2:before {
  content: "\e990";
}
.icon-like:before {
  content: "\e991";
}
.icon-dislike:before {
  content: "\e992";
}
.icon-shopping:before {
  content: "\e993";
}
.icon-restaurants:before {
  content: "\e994";
}
.icon-gas:before {
  content: "\e995";
}
.icon-quality:before {
  content: "\e996";
}
.icon-avatar_1:before {
  content: "\e997";
}
.icon-avatar_2:before {
  content: "\e998";
}
.icon-parent:before {
  content: "\e999";
}
.icon-activities:before {
  content: "\e99a";
}
.icon-teachers:before {
  content: "\e99b";
}
.icon-safety:before {
  content: "\e99c";
}
.icon-locked:before {
  content: "\e99d";
}
.icon-camera:before {
  content: "\e99e";
}
.icon-messenger:before {
  content: "\e99f";
}
.icon-sms2:before {
  content: "\e9a0";
}
.icon-switch:before {
  content: "\e9a1";
}
.icon-support:before {
  content: "\e9a2";
}
.icon-training:before {
  content: "\e9a3";
}
.icon-send_feedback:before {
  content: "\e9a4";
}
.icon-beds:before {
  content: "\e9a5";
}
.icon-baths:before {
  content: "\e9a6";
}
.icon-open_house:before {
  content: "\e9a7";
}
.icon-inquiry2:before {
  content: "\e9a8";
}
.icon-acerage:before {
  content: "\e9a9";
}
.icon-built:before {
  content: "\e9aa";
}
.icon-mls:before {
  content: "\e9ab";
}
.icon-county:before {
  content: "\e9ac";
}
.icon-subdivision:before {
  content: "\e9ad";
}
.icon-area:before {
  content: "\e9ae";
}
.icon-zendesk:before {
  content: "\e9af";
}
.icon-houses_1:before {
  content: "\e9b0";
}
.icon-houses_2:before {
  content: "\e9b1";
}
.icon-prop_sent_1:before {
  content: "\e9b2";
}
.icon-prop_sent_2:before {
  content: "\e9b3";
}
.icon-open_houses_1:before {
  content: "\e9b4";
}
.icon-open_houses_2:before {
  content: "\e9b5";
}
.icon-unsubscribe:before {
  content: "\e9b6";
}
.icon-current_location:before {
  content: "\e9b7";
}
.icon-draw:before {
  content: "\e9b8";
}
.icon-favorite_clicked:before {
  content: "\e9b9";
}
.icon-saved_search:before {
  content: "\e9ba";
}
.icon-square_foot:before {
  content: "\e9bb";
}
.icon-single_family:before {
  content: "\e9bc";
}
.icon-lot_size:before {
  content: "\e9bd";
}
.icon-multi_family:before {
  content: "\e9be";
}
.icon-condo:before {
  content: "\e9bf";
}
.icon-townhouse:before {
  content: "\e9c0";
}
.icon-minus:before {
  content: "\e9c1";
}
.icon-double_arrow_left:before {
  content: "\e9c2";
}
.icon-double_arrow_right:before {
  content: "\e9c3";
}
.icon-facebook2:before {
  content: "\e9c4";
}
.icon-twitter2:before {
  content: "\e9c5";
}
.icon-googleplus:before {
  content: "\e9c6";
}
.icon-linkedin:before {
  content: "\e9c7";
}
.icon-pinterest:before {
  content: "\e9c8";
}
.icon-empty_circle:before {
  content: "\e9c9";
}
.icon-checked:before {
  content: "\e9ca";
}
.icon-dnc:before {
  content: "\e9cb";
}
.icon-invalid:before {
  content: "\e9cc";
}
.icon-unknown:before {
  content: "\e9cd";
}
.icon-unsub_email:before {
  content: "\e9ce";
}
.icon-unsub_message:before {
  content: "\e9cf";
}
.icon-valid:before {
  content: "\e9d0";
}
.icon-information:before {
  content: "\e9d1";
}
.icon-etta_1:before {
  content: "\e9d2";
}
.icon-etta_2:before {
  content: "\e9d3";
}
.icon-etta_3:before {
  content: "\e9d4";
}
